
#container2{
    display: flex;
    justify-content: flex-end;
}
#container2 button{
    background-color: #FDB64D;
}
input,select{
    width: 100%;
    margin: 8px 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  label{
    display: block;
  }

  #parentDiv{
    width: 80%;
    margin:auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 60px;
    position: absolute;
    bottom: 30%;
    left: 10%;
    background-color: white;
  }
#formDiv{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
#formDiv div{
    width: 30%;
}
#parentDiv #btnDiv{
   display: flex;
   justify-content: flex-end;
}
#btnDiv #btnAdd{
    background-color: #FDB64D;
    padding:5px 30px;
    border: none;
    border-radius: 10px;
}


